[Unit]
Description=OpenPERouter FRR Container
Documentation=https://github.com/openperouter

[Container]
Image=quay.io/redhat-user-workloads/telco-5g-tenant/openperouter-operator-edge-5-0:943e4b315798d0f8368dede5a17281eecfd431f2
Pod=routerpod.pod
ContainerName=frr
AddCapability=CAP_NET_BIND_SERVICE CAP_NET_ADMIN CAP_NET_RAW CAP_SYS_ADMIN
Environment=TINI_SUBREAPER=true
Volume=frr-sockets.volume:/var/run/frr:Z
Volume=/etc/perouter/daemons:/etc/frr/daemons:Z
PodmanArgs=--pidfile=/etc/perouter/frr/frr.pid
Entrypoint=/bin/bash
Exec=-c "chmod -R a+rw /var/run/frr && exec /sbin/tini -- /usr/lib/frr/docker-start"

[Service]
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/usr/bin/mkdir -p /etc/perouter/frr

[Install]
WantedBy=default.target
