[Unit]
Description=OpenPERouter FRR Reloader Container
Documentation=https://github.com/openperouter

[Container]
Image=quay.io/redhat-user-workloads/telco-5g-tenant/openperouter-operator-edge-5-0:943e4b315798d0f8368dede5a17281eecfd431f2
Pod=routerpod.pod
ContainerName=reloader
Volume=/etc/perouter/frr:/etc/perouter:Z
Entrypoint=/reloader
Exec=--frrconfig=/etc/perouter/frr.conf --loglevel=debug --unixsocket /etc/perouter/frr.socket
HealthCmd=wget -qO- http://127.0.0.1:9080/healthz || exit 1
HealthInterval=20s
HealthTimeout=5s
HealthRetries=3
HealthOnFailure=kill

[Service]
Restart=on-failure
TimeoutStopSec=70

[Install]
WantedBy=default.target
