# ex: ft=systemd

[Unit]
Description=tcpdump on perouter netns
After=grout.service

[Container]
Image=quay.io/redhat-user-workloads/telco-5g-tenant/openperouter-operator-edge-5-0:on-pr-035c6528292b046d5c1fcf0b4ee2775bdf127ab6
ContainerName=tcpdump
Pod=routerpod.pod
AddCapability=CAP_NET_RAW CAP_NET_ADMIN
PodmanArgs=--entrypoint='["tcpdump"]'
Exec=-i any -nn -s 0 -w /tmp/perouter-isis.pcap iso

[Service]
Restart=no

[Install]
WantedBy=multi-user.target default.target
