[Unit]
Description=Grout DPDK Dataplane
After=dev-hugepages.mount nmstate.service
Requires=dev-hugepages.mount
Wants=nmstate.service
ConditionPathExists=/dev/hugepages
OnFailure=perouter-restart-pods.service

[Container]
Image=quay.io/redhat-user-workloads/telco-5g-tenant/openperouter-operator-edge-5-0:on-pr-0270670ef661b1c0d24c59036e06b4e6faacd6ff
ContainerName=grout
Pod=routerpod.pod
Notify=true
Environment=NOTIFY_SOCKET
Environment=GROUT_OVERRIDE_DEFAULT_ROUTE=true
Environment=GROUT_SOCK_PATH=/run/grout/grout.sock
PodmanArgs=--privileged
Entrypoint=/usr/bin/grout
Exec=-o root:frr -M unix:/run/grout/metrics.sock --verbose -- --socket-limit 8192
Volume=/dev/hugepages:/dev/hugepages
Volume=/dev/vfio:/dev/vfio
Volume=/sys/bus/pci:/sys/bus/pci
AddDevice=/dev/net/tun
AddDevice=/dev/infiniband
HealthCmd=grcli -e </dev/null
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3
HealthOnFailure=none

[Service]
Slice=grout.slice
Restart=no

ExecStartPre=/usr/sbin/ip netns exec perouter sysctl -qw net.ipv4.conf.all.rp_filter=0
ExecStartPre=/usr/sbin/ip netns exec perouter sysctl -qw net.ipv4.conf.default.rp_filter=0

[Install]
WantedBy=default.target
