[Unit]
Description=OpenPERouter Controller Container
Documentation=https://github.com/openperouter

[Container]
Image=quay.io/redhat-user-workloads/telco-5g-tenant/openperouter-operator-edge-5-0:latest
Pod=controllerpod.pod
ContainerName=controller
AddCapability=CAP_NET_BIND_SERVICE CAP_NET_ADMIN CAP_NET_RAW CAP_SYS_ADMIN
Network=host
Volume=/run/netns:/run/netns:rshared
Volume=/etc/perouter/frr:/etc/perouter/frr:rshared
Volume=/var/lib/hostbridge:/shared:rshared
Volume=/var/lib/openperouter:/etc/openperouter:ro
Volume=/proc:/hostproc:ro
Volume=/run/dbus/system_bus_socket:/host/dbus/system_bus_socket:rw
Volume=/var/run/openvswitch:/var/run/openvswitch:rshared
Environment=KUBECONFIG=/shared/kubeconfig
PodmanArgs=--privileged
PodmanArgs=--pid=host
PodmanArgs=--uts=host
Exec=--frrconfig /etc/perouter/frr/frr.conf --pid-path /etc/perouter/frr/frr.pid --reloader-socket /etc/perouter/frr/frr.socket --mode host --namespace openperouter-system
HealthCmd=wget -qO- http://127.0.0.1:9081/healthz || exit 1
HealthInterval=20s
HealthTimeout=5s
HealthRetries=3
HealthOnFailure=kill

[Service]
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/usr/bin/mkdir -p /etc/perouter/frr
ExecStartPre=/usr/bin/mkdir -p /var/lib/hostbridge
ExecStartPre=/usr/bin/mkdir -p /var/lib/openperouter/configs
ExecStartPre=/usr/bin/touch /var/lib/openperouter/configs/openpe_config.yaml
ExecStartPre=/usr/bin/mkdir -p /var/run/openvswitch
ExecStartPre=/bin/bash -c 'f=/var/lib/openperouter/can_start.sh; [ ! -x "$f" ] || "$f"'

[Install]
WantedBy=default.target
